footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    z-index: 1;
}

footer span a {
    color: crimson;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}